$base_color: #293241;
$secondary_color: #3D5A80;
$text: #98C1D9;
$orange: #EE6C4D;
$text-family: 'Readex Pro', sans-serif;

#search {
  background-color: #EE6C4D;
  padding: 10px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
input {
  width: 100%;
  font-size: 18px;
  padding: 0;
}

.master_container {
  background-color: #3d5a80;
  padding: 8px;
  margin: 10px;
  border-radius: 8px;
  width: 100%;
}
.master_title {
  text-align: center;
  color: #EE6C4D;
  font-family: 'Readex Pro', sans-serif;
  font-weight: bold;
  font-size: 20px;
}
