.orange_button {
  background-color: #EE6C4D;
  padding: 10px 10px;
  width: min-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  font-family: 'Readex Pro', sans-serif;
  font-weight: bold;
}
.button_label {
  margin-right: 5px;
}
