#alert {
  opacity: 0;
  font-size: 0;
  border-radius: 8px;
  padding: 0;
  background-color: #EE6C4D;
  transition: font-size .5s, opacity .5s;
  font-family: 'Readex Pro', sans-serif;
  font-weight: bold;
}
.orange_button {
  background-color: #EE6C4D;
  padding: 10px 10px;
  width: min-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  font-family: 'Readex Pro', sans-serif;
  font-weight: bold;
}
.button_label {
  text-align: center;
  color: #fff;
}

.input {
  width: auto;
  padding: 10px 16px;
  border: 1px solid transparent;
  background: #edf2f7;
  line-height: 1.5em;
  outline: none;
  border-radius: 8px;
  margin-left: 0;
}
.input:focus {
  background: #fff;
  border-color: #e2e8f0;
}
.input::placeholder{
  opacity: 0.7;
}
